<h1>Ideas</h1>

<% @ideas.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="col-md-4">
      <%=
      # link_to image_tag("path/to/image.png"), "http://www.mysite.com/"
      %>
      <%= link_to image_tag(idea.picture_url, width: "100%"), idea if idea.picture.present? %>
        <h4><div class="rainbow"><%= link_to idea.name, idea, :class => 'rainbow' %></div></h4>
        <%= idea.description %>
      </div>
    <% end %>
  </div>
<% end %>